@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300&display=swap');

body{
    margin: 0px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

p{
    margin: 0px;
}